@charset "utf-8";
@import "public";
.container{ padding: 0 px(20) }
.demo{ position: relative;
  .list{ padding: 15px;
    li{ line-height: 30px; list-style: disc }
  }
  pre{ background: #f8f8f8; padding: 10px; margin: 10px 0; line-height: 25px; white-space: pre-wrap; word-wrap: break-word; }
  .table-1{ width: 100%;
    td{ line-height: 25px; padding: 5px 10px; border: 1px solid #ddd }
    th{ line-height: 25px; padding: 5px 10px; border: 1px solid #ddd }
  }
  h1{ margin-bottom: 15px; }
  h2{ font-size: 18px; margin: 10px 0; font-weight: 700 }
  h3{ font-size: 16px; margin: 10px 0; font-weight: 700 }
}