@charset "utf-8";
.input-number{ position: relative; display: flex; align-items: center;
  .input-control{ text-align: center; }
  a{ display: block; @include height(90); overflow: hidden; text-align: center; width: px(90); margin: 0 px(10); font-size: px(30); background: #04be02; color: #fff;
    &:active{ background: #04ab02 }
    &.disabled{ background: #f8f8f8; cursor: not-allowed; }
  }
}