@charset "utf-8";
.select-control{ position: relative;
  .input-control{ }
  &:after{
    content: ''; width: px(20); height: px(20); border-top: 2px solid #999; border-right: 2px solid #999; display: block; position: absolute; right: px(20); top: 50%; transform: translateY(-50%) rotate(45deg); border-radius: px(5) }
}