@charset "utf-8";
.swiper-container{ width: 100%; overflow: hidden;
  .swiper-wrapper{ height: px(200); overflow: hidden; }
  .swiper-slide{ height: px(200); float: left;
    &:nth-child(1){ background: #04ab02 }
    &:nth-child(2){ background: #2d8cf0 }
    &:nth-child(3){ background: #795da3 }
    &:nth-child(4){ background: #969896 }
  }
  .swiper-pagination{ }
}