@charset "utf-8";
.footer-tab-bar{ height: px(100);
  .tab-bar-fixed{ position: fixed; width: 100%; left: 0; bottom: 0; z-index: 50; background: #fff; border-top: 1px solid #ddd; display: flex; padding-top: px(10);
    ul{ width: 100%; display: flex; }
    li{ width: 100%; text-align: center;
      &.active{
        a{ color: #04ab02; }
      }
    }
    a{ display: block; width: 100%; font-size: px(24); position: relative;
      &:before{ display: block; font-size: px(46); margin: 0 auto; }
    }
    .badge{ right: px(40); top: px(-10); position: absolute; }
  }
}