@charset "utf-8";
.textarea-control{ padding: 10px 5px; line-height: px(44); border: 1px solid #e2e2e2; display: inline-block; width: 100%; font-size: px(28); border-radius: 3px; box-sizing: border-box; resize: none; color: #333;
  &:focus{ border-color: #f60 }
}